body {
    font-family: "gg sans SemiBold Regular";
    color:#fafbfc;
    background-color: #24292e;
    padding: 20px;
}

h1 {
    font-family: "gg sans Bold";
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

input {
    font-family: "gg sans SemiBold Regular";
    width: 15em;
    height: 2em;
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}

button {
    font-family: "gg sans SemiBold Regular"
}

#inputButton, #sortButton {
    background-color: rgba(54, 162, 235, 1);
    height: 2em;
    border: 0;
    border-radius: 15px;
    box-sizing: 2em;
}

#chart {
    display: flex;
    justify-content: center;
}

#usedAlgorithm, #guide {
    display: flex;
    justify-content: center;
    font-size: 1em;
}